:root {
    --primary: #0f7b76;
    --secondary: #08c3b9;
    --grey: rgb(245, 245, 245);
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}

a:hover {
    color: var(--secondary) !important;
}

h1,
h2,
h3 {
    font-family: Sacramento, sans-serif;
}

h1,
h2 {
    font-size: 40px !important;
}

p,
a {
    font-family: "Playfair Display", sans-serif;
}

button {
    width: 250px;
    margin: 40px !important;
    padding: 20px;
    text-align: center;
    border: 1px white;
    border-radius: 12px !important;
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#information,
#hero,
#descriptions,
header {
    animation: fadeIn 1s ease-in;
}

.social-nav li:hover,
.each-description:hover,
#services img:hover,
.each-service li img:hover {
    cursor: pointer;
    position: relative;
    top: -5px;
}

/* Main Stylings */

#top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;

    svg:hover {
        fill: var(--secondary);
    }
}

header,
footer {
    padding: 10px 20px;
}

#mobile-icon {
    position: fixed;
    top: 25px;
    right: 10px;
}

#mobile-menu {
    text-align: end;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.775);
    right: 0;
    top: 70px;
    padding: 10px;
}

nav {
    ul {
        margin: 0;
    }

    li {
        margin: 0 10px;
        list-style-type: none;
    }

    a {
        color: var(--primary) !important;
    }

    a:hover {
        color: var(--secondary) !important;
    }

    img {
        position: relative !important;
        top: -1px !important;
        margin-left: 5px;
    }
}

.social-nav {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;

    li {
        margin-right: 10px;
        list-style-type: none;
    }
}

#hero {
    background-image: url('./images/hero-image.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: end;

    .hero-description {
        background-color: rgba(255, 255, 255, 0.775);
        width: 38%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }

    p,
    ul {
        margin-left: 5px;
    }
}

#descriptions {
    h3 {
        margin: 10px 0;
    }

    .each-description {
        width: 25%;

        iframe {
            width: 100%;
        }
    }
}

.each-service {
    text-align: center;
    width: 150px;

    p {
        margin: 10px 0;
        height: 20%;
    }
}

#about {
    background-color: var(--grey);

    .about-text {
        width: 40%;
    }
}

#portfolio {
    h3 {
        margin: 30px 0;
    }

    iframe {
            margin: 10px 0;
        }
}

#teaching {
    background-color: var(--grey);

    .each-teaching-description {
        width: 80%;
        margin-left: 20% !important;

        img {
            margin-right: 5%;
        }

        p {
            margin-bottom: 0px !important;
            margin-left: 20px;
        }
    }


}

footer {
    li {
        list-style-type: none;
    }

    .mobile-footer-nav {
        display: none;
    }

    img {
        position: relative !important;
        top: -1px !important;
        margin-left: 5px;
    }
}

/* Mobile Styles */

@media screen and (max-width: 900px) {
    #top-button {
        padding: 20px;
    }

    .each-description {
        width: 30% !important;
    }

    #teaching .each-teaching-description {
         margin-left: 0px !important;
    }
}


@media screen and (max-width: 768px) {
    header {
        /* flex-direction: column !important; */
        position: sticky !important;
        top: 0 !important;
        background: rgba(255, 255, 255, 0.817) !important;
        padding: 5px !important;

        ul {
            margin: 5px !important;
        }

        nav ul {
            padding: 0;
            flex-wrap: wrap;
        }
    }

    #about {
        flex-wrap: wrap;
        flex-direction: column !important;
        justify-content: center !important;
        text-align: center;

        div {
            width: 100% !important;
        }

        img {
            width: 60%;
            height: auto;
            border-radius: 10px;
            margin-top: 10px;
        }
    }

    .main-nav li {
        display: none;
    }

    #mobile-icon {
        display: block !important;
        cursor: pointer;
    }

    #descriptions {
        .all-descriptions {
            flex-direction: column;
        }

        .each-description {
            width: 80% !important;
        }

        .description-text {
            height: auto;
        }
    }

    #contact {
        iframe {
            width: 95%;
        }
    }

    footer {
        flex-direction: column;
        text-align: center;

        .footer-nav {
            text-align: center !important;
            padding: 0;
        }

        .social-nav {
            justify-content: center;
        }

        .mobile-footer-nav {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    #information {
        display: none !important;
    }

    #descriptions {
        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .hero-description {
        width: 100% !important;
        justify-content: center;
        padding: 30px;
    }

    #portfolio {
        iframe {
            width: 100%;
        }
    }

    #contact {
        iframe {
            height: 980px;
        }
    }

    #teaching {
        .each-teaching-description {
            flex-direction: column;

            img {
                display: none;
            }

            .teaching-text {
                width: 80% !important;

                h3 {
                    text-align: center;
                }
            }
        }
    }
}