:root {
    --primary: #0f7b76;
    --secondary: #08c3b9;
}

a {
    text-decoration: none !important;
    color: var(--primary) !important;
}

a:hover {
    color: var(--secondary) !important;
}

h1, h2, h3 {
    font-family: Sacramento, sans-serif;
}

h1, h2 {
    font-size: 40px !important;
}

p, a {
    font-family: "Playfair Display", sans-serif
}

/* Animations */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#information,
#hero,
#descriptions,
header {
    animation: fadeIn 1s ease-in;
}

.each-description:hover,
#services img:hover,
li img:hover {
    cursor: pointer;
    position: relative;
    top: -5px;
}
/* Main Stylings */

#top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 40px;

    svg:hover {
        fill: var(--secondary);
    }
}

header, footer {
    padding: 10px 20px;
}

nav {
    ul {
        margin: 0;
    }

    li {
        margin: 0 10px;
        list-style-type: none;
    }

    a {
        color: var(--primary) !important;
    }

    a:hover {
        color: var(--secondary) !important;
        font-weight: bold;
    }
}

#hero {
    background-image: url('./images/hero-image.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: end;

    .hero-description {
        background-color: rgba(255, 255, 255, 0.775);
        width: 38%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px;
    }
}

#descriptions {
    h3 {
        margin: 10px 0;
    }

    .each-description {
        width: 25%;
    }
}

.each-service {
    text-align: center;
    width: 150px;

    p {
        margin: 10px 0;
        height: 20%;
    }
}



#about {
    background-color: rgb(245, 245, 245);
}

footer {
    li {
        list-style-type: none;
    }

    p {
        margin: 0;
    }
}


/* Mobile Styles */

@media screen and (max-width: 900px) {
    #top-button {
        padding: 20px;
    }

    footer {
        .footer-info {
            flex-direction: column;
        }

        .each-footer-info {
            width: 100% !important;
            display: flex;
            justify-content: flex-end !important;
            align-items: center !important;
        }

        .each-footer-info:first-child {
            margin-bottom: 10px;
        }

        .each-footer-info:nth-child(2) {
            flex-direction: column;
            align-items: flex-end !important;
        }
    }
}


@media screen and (max-width: 768px) {
    #about {
        flex-wrap: wrap;
        flex-direction: column !important;
        justify-content: center !important;
        text-align: center;

        div {
            width: 100% !important;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    #descriptions {
        .all-descriptions {
            flex-direction: column;
        }

        .each-description {
            width: 80%;
        }

        .description-text {
            height: auto;
        }
    }

    footer {
        flex-direction: column;
        text-align: center;

        .footer-info {
            margin-top: 10px;
        }

        .each-footer-info {
            justify-content: center !important;
        }

        .each-footer-info:nth-child(2) {
            flex-direction: column;
            align-items: center !important;
        }
    }
}

@media screen and (max-width: 480px) {
    #information {
        display: none !important;
    }

    #descriptions {
        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }
    }

    header {
        flex-direction: column !important;
        position: sticky !important;
        top: 0 !important;
        background: rgba(255, 255, 255, 0.817) !important;
        padding: 5px !important;

        ul {
            margin: 5px !important;
        }

        nav ul {
            padding: 0;
        }
    }

    .hero-description {
        width: 100% !important;
        justify-content: center;
        padding: 30px;
    }
}